<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpotiSwipe</title>
</head>
<body>
    <script>
                // Get the HTML element that you want to detect the events on
        const element = window

        // Variables to store the touch position
        let touchStartX = 0;
        let touchEndX = 0;
        let touchStartY = 0;
        let touchEndY = 0;
        // Add touchstart event listener to record the starting position
        element.addEventListener('touchstart', (event) => {
        touchStartX = event.touches[0].clientX;
        touchStartY = event.touches[0].clientY;
        event.preventDefault()
        });

        // Add touchend event listener to record the ending position
        element.addEventListener('touchend', (event) => {
        touchEndX = event.changedTouches[0].clientX;
        touchEndY = event.changedTouches[0].clientY;
        event.preventDefault()

        // Calculate the difference in position
        const touchDiffX = touchStartX - touchEndX;
        const touchDiffY = touchStartY - touchEndY;

        // Check if it's a left or right swipe
        if (touchDiffX > 50) {
            // Left swipe detected
            console.log('Left swipe detected');
            fetch('/left');
        } else if (touchDiffX < -50) {
            // Right swipe detected
            console.log('Right swipe detected');
            fetch('/right');
        }
        
        else if (touchDiffY > 50) {
            // Left swipe detected
            console.log('Up swipe detected');
            fetch('/up');
        } else if (touchDiffY < -50){
            // Right swipe detected
            console.log('Down swipe detected');
            fetch('/down');
        }else {
            // Tap detected
            console.log('Tap detected');
            fetch('/tap');
        }
        });

    </script>
    <style>
        body {
            background-color: black;
        }
    </style>
</body>
</html>